<div class="about" id="about">
    <h2 class="about-header">About THE_HOOD_R</h2>
    <p class="about-details">
      The Brand consist of the New Generation of inventive Thinkers, ones with the wildest imaginations to bring dreams, to actuality.
    </p>
    <div class="socialicons">
     <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
     <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
     <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
     <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
     <a href="#"><ion-icon src="./images/Hood-svg.svg"></ion-icon></a>
   </div>
  </div>