
  <footer>
    <div class="footercover">
      <div class="all-footer-links">
       <div class="footer-links">
         <h3>Quick Links</h3>
         <ul>
           <li>Home</li>
           <li>Forum</li>
           <li>About</li>
           <li>Contact</li>
           <li>Privacy Policy</li>
           <li></li>
         </ul>
       </div>
       <div class="footer-links">
         <h3>Archives</h3>
         <ul>
           <li>January 2019</li>
           <li>December 2018</li>
           <li>November 2018</li>
           <li>October 2018</li>
           <li>September 2018</li>
           <li></li>
         </ul>
       </div>
       <div class="footer-links">
         <h3>Social Links</h3>
         <ul>
          <li><a href="https://web.facebook.com/profile.php?id=100077481551238">facebook</a></li>
          <li><a href="https://twitter.com/TheHood_R">twitter</a></li>
          <li><a href="https://www.instagram.com/the_hood_remastered/">instagram</a></li>
          <li><a href="#">Youtube</a></li>
           <li></li>
           <li></li>
         </ul>
       </div>
      </div>

      <div class="newsletter">
        <h3>Our Newsletter</h3>
        <p>Enter your email to get frequent updates and newsletters.</p>
        <form action="/">
          <div class="mail-div"><input type="email" placeholder="Email address"></div>
          <button>send</button>
        </form>
      </div>
    </div>
    <div class="copyright"> &copy; Copyright THE_HOOD_R | <div>Site Designed by <a href="https://davidsirct@gmail.com">davidsirct@gmail.com</a></div></div>
  </footer>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>