<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css/loginsignup.css">
    <link rel="stylesheet" href="/styles.css/article.css">
    <link rel="stylesheet" href="/styles.css/newArticle.css">
    <link rel="stylesheet" href="/styles.css/main.css">
    <link rel="stylesheet" href="/styles.css/userdashboard.css">
    <link rel="stylesheet" href="/styles.css/updateprofile.css">
    <link rel="stylesheet" href="/styles.css/landingpage.css" >
    <link rel="icon" type="image/png" sizes="32x32" href="/images/Hood-logo.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#n-a-c',
        plugins: "autolink lists advlist link image",
        file_picker_types: 'file image media',
        a11y_advanced_options: true,
        images_upload_url: '/inarticleimg',
      });
    </script>
    <title>Buzz-Arena</title>
</head>
<body>
  
    <header>
    <div class="header">
      <div class="mobilenav" id="mobilenav">
        -
        -
        <a href="#"><ion-icon src="./images/Hood-svg.svg"></ion-icon></a>
      </div>
        <div class="socialicons" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500">
          <a href="https://web.facebook.com/profile.php?id=100077481551238"><ion-icon name="logo-facebook"></ion-icon></a>
          <a href="https://twitter.com/TheHood_R"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://www.instagram.com/the_hood_remastered/"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          <a href="#"><ion-icon src="./images/Hood-svg.svg"></ion-icon></a>
        </div>
        <div class="logodiv" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500">
          _BUZZ-ARENA.
        </div>
        <form action="/search" method="post" class="search" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500">
          <input type="text" placeholder="SEARCH" name="search">
          <button><ion-icon name="search-outline" class="search-icon"></ion-icon></button>
        </form>
      </div>
      <nav id="navbar">
        <ul>
          <li><a href="/">Home</a> </li>
          <li id="categories">Categories
            <ul class="cat-drop" id="catdrop">
              <a href="/categories/buzz"><li>Buzz</li></a>
              <a href="/categories/sports"><li>Sports</li></a>
              <a href="/categories/tech"><li>Tech</li></a>
              <a href="/categories/fashion"><li>Fashion</li></a>
            </ul>
          </li>
          <li><a href="/forum">Forum</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>

      </nav>

      <form action="/search" method="post" class="mobilesearch" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1500">
        <input type="text" placeholder="SEARCH" name="search">
        <button><ion-icon name="search-outline" class="search-icon"></ion-icon></button>
      </form>
      
      <div class="login-signup">
        <% if(loggedIn){%>
       
          <div class="welcome-div">
            <div class="welcome-text" id="welcome-txt">Hi, <%= user.fname%></div>
            <div class="welcome-menu" id="welcome-mnu">
                <div class="dashboard-btn"><a href="/userdashboard">Profile</a> <div><ion-icon name="person"></ion-icon></div></div>
                <div class="dashboard-btn"><a href="/updateprofile">Settings</a> <div><ion-icon name="cog"></ion-icon></div></div>
              <% if(user.isadmin || user.issuperadmin){%>
                <div class="dashboard-btn"><a href="/admin/Panel"> Panel </a> <div><ion-icon name="desktop"></ion-icon></div> </div>
              <% } %>
              <%if(user.isauthor && !user.isadmin){ %>
                <div class="dashboard-btn"><a href="/newArticle"> Write </a> <div><ion-icon name="pencil"></ion-icon></div> </div>
              <%}%>
              <form action="/logout" method="post">
                <button>logout</button>
                <div><ion-icon name="log-out"></ion-icon></div>
              </form>
            </div>
          </div>
        <%} else {%>
          <div class="login-register"><a href="/login" class="login-btn"> login</a> <a href="/register" class="joinup-btn">Join Up</a></div>
        <%}%>
      </div>
      </header>