<%- include("./partials/_header", {loggedIn: loggedIn})%>

<div class="update-section">
    <div class="update-cover">
        <div class="update-settings">
            <h2>Settings</h2>
            <ul>
                <li><a href="/updateprofile">Update Profile</a></li>
                <li><a href="/editsocialhandles">Social</a></li>
                <li><a href="/changepassword">Change Password</a></li>
            </ul>
        </div>
        <div class="update-form">
          
                <form action="/changepassword/<%= user.id %>" method="post">
                    <% if(msg){%>
                        <p><%= msg %></p>
                    <%}%>
                    <div>
                        <div class="form-name">
                            old password
                        </div>
                        <input type="password" name="oldPassword" value="" placeholder="enter old password">
                    </div>

                    <div>
                        <div class="form-name">
                            new password
                        </div>
                        <input type="password" name="newPassword" value="" placeholder="enter new password">
                    </div>

                    <div>
                        <div class="form-name">
                            repeat password
                        </div>
                        <input type="password" name="confirmPassword" value="" placeholder="confirm new password">
                    </div>
                    
                    <button type="submit" class="update-save-btn">Save</button>
                </form>
        </div>
    </div>
</div>

<script src="/js/mobilenav.js"></script>
<%- include("./partials/_footer")%>