<%- include("./partials/_header", {loggedIn: loggedIn})%>

<div class="lswrapper">
    <div class="signup-form">
        An Email with your verification link has been sent to your address, check your inbox... thank you
    </div>
</div>

<script src="/js/mobilenav.js"></script>
<%- include("./partials/_footer")%>