<%- include("./partials/_header", {loggedIn: loggedIn})%>

<div class="lswrapper">
    <div class="signup-form">
        
        <form action="/forgotpassword" method="post">
           <% if(msg){%>
            <div> <%= msg %></div>
            <%}%>
            <label for="email">Enter registeration email</label>
            <div><input type="email" name="email" id="email"></ion-icon></div>
            <div class="submit"><input type="submit" value="submit"></div>
        </form>


    </div>
</div>

<script src="/js/mobilenav.js"></script>
<%- include("./partials/_footer")%>