.article-wrapper{
    width: 100%;
}
.img-article{
    width: 50%;
    height: 45vh;
    object-fit: contain;
    margin: auto;
}
img{
    width: 100%;
    display: block;
}
.article-head-dets{
    text-align: center;
    margin: 5% auto;
}
.article-head-dets h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    width: 50%;
    margin: auto;
}
.article-head-dets h2{
    font-size: 20px;
    width: 50%;
    margin: 10px auto;
    color: rgb(146, 127, 127);
}
.article-page-det{
    display: flex;
    justify-content: center;
}
.article-page-det div{
    margin: 20px 10px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: rgb(146, 127, 127);
}
.article-page-body{
    width: 50%;
    font-size: 20px;
    margin: auto;
    line-height: 2;
}
.interactions{
    width: 50%;
    margin: auto;
    border-top: 1px solid rgb(238, 228, 228);
}
.like button{
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: inherit;
    border: none;
}
.like-img{
    width: 100%;
}
.author input{
    padding: 10px;
}
.commentsection{
    background-color: rgb(212, 209, 209);
}
.comment-wrap{
    padding: 10% 0;
    width: 50%;
    margin: auto;
}
.comment-wrap textarea{
    min-width: 100%;
    min-height: 200px;
    font-size: 18px;
    background-color: inherit;
    border-left: none;
    border-right: none;
}
.comment-wrap button{
    width: 100%;
    padding: 10px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    border: none;
    margin: 0px auto;
}
.icommentwrap{
    display: flex;
    margin: 4% 0;
    border-bottom: 1px solid rgb(146, 127, 127);
}
.icommentdp{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.icommentdp img{
    border-radius: 50%;
    width: 100%;
    display: block;
}
.icommentuser{
    text-transform: capitalize;
    font-weight: 700;
    margin: 10px 0;
}
.icomment{
    padding: 3% 0;
}
.icommenttime{
    font-size: 12px;
}
@media(max-width: 700px){
    .article-wrapper{
        text-align: left;
    }
    .article-head-dets h1{
        font-size: 24px;
        text-transform: capitalize;
        width: 80%;
        margin: auto;
        text-align: left;
    }
    .article-head-dets h2{
        font-size: 13px;
        width: 80%;
        margin: 10px auto;
        text-align: left;
        color: rgb(146, 127, 127);
    }
    .article-page-det div{
        margin: 20px 10px;
    }
    .img-article{
        width: 80%;
        height: 30vh;
    }
    .article-page-body{
        width: 80%;
        font-size: 18px;
        margin: auto;
        margin-top: 10px;
        line-height: 2;
    }
    .comment-wrap{
        padding: 10% 0;
        width: 80%;
        margin: auto;
    }
}
