.logsign{
    background-image: url("/images/Hood-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
.lswrapper{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10% 0;
}
.lswrapper ion-icon{
    font-size: 18px;
}
.lswrapper form{
    width: 100%;
    border-top: 1px solid rgb(216, 199, 199);
    border-bottom: 1px solid rgb(216, 199, 199);
    padding: 7% 0;

    
}
.lswrapper input{
    border: none;
    outline: none;
    background-color: inherit;
}
.lswrapper form div{
    display: flex;
    margin: 5px 0 10px 0;
    width: 95%;
    border: 1px solid rgb(216, 199, 199);
    justify-content: space-between;
    padding: 5px;
}
.lswrapper .submit{
    border: none;
}
.lswrapper .submit input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}
.lswrapper .googlesubmit{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(100, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}
.googlesubmit a{
    color: inherit;
}
.signup-form{
    min-height: 20vh;
    padding: 0px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    background-color: rgba(243, 240, 240, 0.5);
    border-radius: 10px;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
}
.lswrapper form div.break{
    display: block;
    border: none;
    text-align: center;
}